.head{
    height: 10vh;
    min-height: 7rem;
    position: relative;
}

.head-logo{
    position: absolute;
    top: 1rem;
    left:1rem;
    width: 40rem;
}


.head-logo-firstline{
    display: block;
    font-family: 'Montez', cursive;
    color:blue; 
    font-size: 3rem;
}

.head-logo-secondline{
    display: block;
    font-size: 1.5rem;
}

.head-buttons{
    position: absolute;
    top:1rem;
    right:1rem;
}